<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>BLOG POST</h1>
    <p>
		<%= @commenter %> said a thing on <%= @url %>.
    </p>
  </body>
</html>