<% provide(:title, 'Resume') %>
<head>
     <title>Andrew Svoboda</title>
     <style type="text/css">
		
        body { 
            font: 14px;
            font-family: Helvetica, Sans-Serif;
            line-height: 24px;
			color: #444;
		}
		
        #page-wrap { 
            margin: 30px auto 30px; 
		}
		
		.email {
			color: #222;
			text-decoration: none;
			border-bottom: 1px dotted;
		}
		
        h1 { 
            color: #444; 
            margin: 0 0 16px 0; 
            padding: 0 0 16px 0; 
            font-size: 36px; 
            letter-spacing: -1px; 
            border-bottom: 1px solid #444; 
		}
		
        h2 { 
            font-size: 18px; 
            margin: 0 0 6px 0; 
            position: relative; 
            color: #848484; 
		}
		
        h2 span { 
            float: right;
            padding: 0px 10px 0px 0px;
            bottom: 0; 
            right: 0; 
            font-style: italic; 
            font-family: Georgia, Serif; 
            font-size: 14px; 
            color: #444; 
            font-weight: normal; 
		}
		
		h3 { 
            font-size: 16px; 
            margin 0 0 6px 0;
            position: relative; 
            color: #848484; 
		}
		
		h3 span { 
            float: right; 
            padding: 0px 10px 0px 0px;
            bottom: 0; 
            right: 0; 
            font-style: italic; 
            font-family: Georgia, Serif; 
            font-size: 14px; 
            color: #444; 
            font-weight: normal;
		}
		
		h4{
            font-size: 14px;
            color:#848484;
            position: relative;
			margin: 10px 0 10px 0;
		}
		
		h4 span{
            float: right;
            padding: 0px 10px 0px 0px;
            font-style: italic;
            right: 0;
            bottom: 0;
            font-weight: normal;
            font-family: Georgia, Serif; 
		}
		
		p {
			margin: 5px 0 5px 0;
		}
		
		p strong {
                color: #666;
		}
		
		em { 
            font-size: 12px; 
            color: #888; 
            padding: 12px 0 0;
		}
		
        ul {
            margin: 0 0 5px 10px;
		}
		
		.section {
			overflow: hidden;
			position: relative;
		}
        
        .section-body {
			margin-top: 1.5em;
            width: 85%; 
            float: right; 
            color: #444;
        }
        
        .section-header {
            color: #777; 
            font-style: italic; 
            font-weight: bold; 
            font-size: 16px; 
            text-align: right; 
            width: 9%; 
            float: left;
			top: 5px;
			padding: 0 40px 0 0; 
			position: absolute;
			height: 80%;
        }
		
        .clear {
            clear: both;
            float: none; 
            margin-top: 10px;
		}
     </style>
</head>
<body>
    <div id="page-wrap">
        <div id="contact-info">
            <h1>Andrew Svoboda</h1>
			<h2>3A Computer Engineering, University of Waterloo</h2>
            <div>
				<a class="email" href="mailto:asvoboda@uwaterloo.ca">asvoboda@uwaterloo.ca</a>
            </div>
        </div>
        <div class="clear"></div>
        <div>
            <div class="clear"></div>
			<div class="section">
				<div class="section-header">Highlights</div>
				<div class="section-body">
					<h2>Core Skills</h2>
					<ul>
						<li>Proficient in Python, Java, C++, C, R (Experienced in others)</li>
						<li>Experienced in web design using Javascript, CSS, Sass, and HTML</li>
						<li>Well versed in front end design, and back end web frameworks such as Django and Rails</li>
						<li>Experience contributing and debugging both large and small scale software systems</li>
						<li>Solid understanding and fundamentals of git</li>
						<li>Proficienct with Unix and Linux based operating systems</li>
					</ul>
					<h2>Strong Soft Skills</h2>
					<ul>
						<li>Passionate about learning - many skills are self taught and reflect a desire for understanding and further personal development</li>
						<li>Strong ability to quickly learn, adapt, and gain proficiency in new technologies</li>
					</ul>	
				</div>
			</div>
            <div class="clear"></div>
			<div class="section" >
				<div class="section-header">Professional</div>			
				<div class="section-body">
					<h2>Kontagent, San Francisco CA <span> Software Engineer, Jan - Apr 2013 </span></h2>
					<div>
						<em><strong>Evaluation: Oustanding</strong><br>
							'Andrew distinguished himself [as] a key member of the team who contributed to the Kontagent codebase at a professional level, implementing core features with minimal supervision'</em>
						<ul>
							<li>Contributed heavily to two major customer facing projects from design to production</li>
							<li>Took a leadership role in the development group and assumed responsibility for key features</li>
						</ul>
					</div>
				</div> 				
				<div class="section-body">
					<h2>Kontagent, Toronto ON <span> Software Engineer, May - Aug 2012 </span></h2>
					<div>
						<em><strong>Evaluation: Oustanding</strong><br>
							'[Andrew] is very interested in, and takes pride in his work. [He] is adept at solving problems and is reliable in any situation. [He] works well with associates and was seen as an asset to the team.'</em>
						<ul>
							<li>Created behaviourally targeted user notification service using Drools (Java based rule engine) to allow Product and Support teams to directly connect with users on the Dashboard product</li>
							<li>Contributed to building out and debugging a new partner provisioning API from ground up</li>
							<li>Performed production evolution duties on Javascript and Python (Django) related bugs occuring on the customer facing Dashboard product</li>
						</ul>
					</div>
				</div>            
				<div class="section-body">
					<h2>RedIron Tech., London ON <span> Software Developer, Sep - Dec 2011 </span></h2>
					<div>
						<em><strong>Evaluation: Excellent</strong><br>
							'[Andrew's] areas of strength include: Open to ideas/feedback; Ability to learn; Problem solving. [..] [He] had very good interpersonal skills and cooperated well with everyone in the office.'</em>
						<ul>
							<li>Designed and implemented an automated build deployment server and web interface using PHP, Javascript (jQuery) to easily deploy products to QA and Customers</li>
							<li>Created a build server and web interface using Django and a cherrypy server to remote begin a custom WiX build process of a selected product</li>
							<li>Worked on core product with other team members to further enhance the functionality of the product according to customer specifications</li>
						</ul>
					</div>
				</div>
				<div class="section-body">
					<h2>Nuance Communications, Montreal QC <span> Data Analyst, Jan - Apr 2011</span></h2>
					<div>
						<em><strong>Evaluation: Outstanding</strong><br>
							'Andrew is exceptionally bright and a quick learner. He was very productive and consistently did things faster than anticipated. [..] When offered constructive criticism of his work, he always took it well and quickly returned a new version that addressed the concerns.'</em>
						<ul>
							<li>Processed and analyzed large amounts of data in visually and interactively intuitive manners</li>
							<li>Analyzed logged call data in order to understand trends and help enrich applications and technology to further automate future processing</li>
							<li>Attended to and completed various complicated side projects to meet a surprise deadivine thrust upon the team </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear" style="page-break-after:always"></div>
			<div class="section" >
				<div class="section-header">Projects</div>
				<div class="section-body">
					<h2>MSP Launchpad Touchpanel</h2>
					<ul>
						<li>MSP430G Launchpad with capacitive touchpanel for curiosity</li>
						<li>LED feedback for wheel-like scrolling in C</li>
					</ul>
					<h2>Assembly Calculator</h2>
					<ul>
						<li>Written as a project for ECE 222</li>
						<li>Created a calculator from scratch in Motorola 68K Assembly, with the ability to respond to hardware keypresses and keyboard input</li>
					</ul>
					<h2>Personal Jobmine Notification</h2>
					<ul>
						<li>Created a notification system in Python to scrape Jobmine and send an email periodically with job application state changes <em>(because who really enjoys jobmine?)</em></li>	
					</ul>
					<h2>Game of World Domination</h2>
					<ul>
						<li>Written as a project for Grade 12 Computer Science</li>
						<li>Designed and created a game of Risk with a partner, complete with a GUI, sound, and multiple human players in Java</li>
					</ul>                
				</div>
			</div>
			<div class="clear"></div>
			<div class="section">
				<div class="section-header">Education</div>
				<div class="section-body">
					<h2>University of Waterloo, Waterloo ON<span> Sep 2010 - Present</span></h2>
					<div>
						<p><strong>Major:</strong> Honours Computer Engineering</p>
						<p><strong>Relevant Courses: </strong>Operating Systems, Compilers, Digital Computers, Embedded Systems Programming</p>
						<h4>Academic ECE Class 2015 Representative<span>Sept 2012 - Present</span></h4>
						<ul>
							<li>Meet with Professors, lab instructors and TAs to discuss and solve class issues</li>
						</ul>
						<h4>Engineering Society ECE Class 2015 Representative<span>Sep 2010 - Present</span></h4>
						<ul>
							<li>Attend all bi-weekly Engineering Society meetings and represent class when voting on policy amendments</li>
							<li>Maintain a link between the class and the executive,  making sure the class is informed of upcoming events and policy</li>
						</ul>
					</div>
					<h2>Centennial C.V.I., Guelph ON <span> Sep 2007 - Jun 2010</span></h2>
					<div>
						<h4>Waterloo-Wellington Science & Engineering Fair Project<span> Nov 2009 - Apr 2010</span></h4>
						<ul>
							<li>Researched and conducted trials synthesizing commercially viable Ferofluids in the University of Guelph Nanoscience Labs</li>
							<li>Achieved Gold Medal Standard</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="section">
				<div class="section-header">Hobbies</div>
				<div class="section-body">
					<ul>
						<li>Coding</li>
						<li>Murder Most Foul; Reading</li>
						<li>Drawing and Painting; Analog Photography</li>
						<li>Canadian History</li>
					</ul>
				</div>
			</div>
            <div class="clear"></div>
        </div>
    </div>
</body>
