<% provide(:title, 'Gallery') %>
<div id="gallery">
	<% @photos.each do |p| %>
		<div class="picture"> 
			<%= image_tag p.photo.url(:large) %>
		</div>              
	<% end %>	
</div>

<script>
	//preprocessing
	
	$(document).ready(function() {
		$('#gallery').insertAfter('.navbar');
		
		window.onload = function() {
			var $imgs = $("#gallery .picture img");
			_.each($imgs, function(img) {
				$(img).attr("data-aspect-ratio", img.width/img.height);
				$(img).attr("data-original-height", img.height);
				$(img).attr("data-original-width", img.width);
			});
			galleryify();
		}
	});
</script>
