<h1>Editing Pictures</h1>

<%= render 'form' %>

<%= link_to 'Show', @picture, html_options = {:class => "btn btn-default"} %>
<%= link_to 'Back', pictures_path, html_options = {:class => "btn btn-default"} %>
<%= button_to 'Destroy', @picture, :method => :delete %>
