<% if not @pictures.empty? %>
<div id="covers">
	<% @pictures.each do |picture| %>
		<div class="cover">
			<div class="cover_picture"> 
				<h4><%= picture.title %></h4>
				<%= link_to picture do %>
					<%= image_tag picture.photo.url(:medium) %>
				<% end %>
			</div>             
		</div>
	<% end %>
</div>  
<% else %>
    <h3>It seems like Andrew hasn't posted any pictures yet</h3>
<% end %>
