#cover {
	height: 100%;
	width: 100%;
	position: fixed;
	background-position: 50% 50%;

	background-image: url("cover.JPG");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
	background-size: cover;
}

#content {
	width: 80%;
	margin: 0px auto 0px auto;
	padding-bottom: 25px;
	padding-top: 40px;
}

.post {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

.post-name {
	
}

.post-title {

}

#post_content{
	width: 80%;
	height: 50%;
}

.centre{
	
}

.iframe-associate{
	width: 80%;
	height: 400px;
	margin: 0px auto 0px auto;
}

#states {
  fill: #aaa;
  stroke: #fff;
  stroke-width: 1.5px;
}

#states .active {
  fill: steelblue;
}

.background {
  fill: none;
  pointer-events: all;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

#chart-div-3 {
	border: solid 1px #ddd;
}

.how-many {
	position: relative;
	top: 100px;
}