* {
	font-weight: 500;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#cover {
	height: 100%;
	width: 100%;
	position: fixed;
	background-position: 50% 50%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
	background-size: cover;
}

#content {
	width: 80%;
	margin: 0px auto 0px auto;
	padding-bottom: 25px;
	padding-top: 40px;
}

#posts {
	width: 80%;
	display: block;
	margin: 0px auto;
}

.post {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

.post img {
	margin: 0px auto;
	display: block;
	border-radius: 5px;
}

.post_content{
	margin: 15px;
}

.iframe-associate{
	width: 80%;
	height: 400px;
	margin: 0px auto 0px auto;
}

#states {
  fill: #aaa;
  stroke: #fff;
  stroke-width: 1.5px;
}

#states .active {
  fill: steelblue;
}

.background {
  fill: none;
  pointer-events: all;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

#chart-div-3 {
	border: solid 1px #ddd;
}

.how-many {
	position: relative;
	top: 100px;
}

.picture {
	float: left;
	margin: 1px;
}

#gallery {
	margin-top: 46px;
}

.chart {
	width: 100%;
}

.chart div div svg {
	width: 100% !important;
	height: 100% !important;
}

.google-visualization-table-table {
	width: 100% !important;
}