<h1>Booklist</h1>

<iframe width='800' height='500' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0AsN8GeI30lYodHBkY0RHUjFCckRRN0xVN0MybDZqeXc&single=true&gid=0&range=A1%3AF101&output=html&widget=true'></iframe>

<h1>Graphs</h2>
<%= image_tag "/assets/world_map.jpeg"  %>
<%= image_tag "/assets/boxplot_andrew.jpeg"  %>
<iframe width='800' height='500' frameborder='0'
src='/assets/influencers.pdf'></iframe>