<% provide(:title, 'Booklist') %>
<h1>Booklist</h1>

<p>I enjoy reading novels. Recently, a friend of mine and I have started an interesting project: Read 100 well-known, classic, or interesting novels. Below is a list of where we both currently stand.</p>

<iframe width='800' height='500' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0AsN8GeI30lYodHBkY0RHUjFCckRRN0xVN0MybDZqeXc&single=true&gid=0&range=A1%3AF101&output=html&widget=true'></iframe>

<h1>Graphs</h2>
<p>I also like to write code, and I enjoy taking a look at raw data. Below are some graphs to visualise the data set of the books I am reading. </p>
<%= image_tag "/assets/world_map.jpeg"  %>
<%= image_tag "/assets/world_map_dates.jpeg"  %>

<%= image_tag "/assets/boxplot_andrew.jpeg"  %>
<iframe width='800' height='500' frameborder='0'
src='/assets/influencers.pdf'></iframe>